<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.releasy.android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name=".ReleasyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network"
        tools:ignore="UnusedAttribute">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.releasy.android.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.releasy.android.activity.main.InformationPerfectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.main.MainTabActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.releasy.android.activity.releasy.SingleActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.releasy.MultipleActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.releasy.UserDefindActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.releasy.UserDefindEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.releasy.SelectPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.releasy.SelectMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.releasy.SelectActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.releasy.ActionDistributionForM2activity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.releasy.android.activity.music.MusicRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.music.ISOMusicActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.device.ChoiceDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.device.SearchDeviceForM1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.device.SearchDeviceForM2Activity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.releasy.android.activity.more.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.more.PhonenumOrEmailAcrivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.more.SexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.more.AgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.more.HeightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.more.WeightActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.releasy.android.activity.more.MobilePhoneBindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.more.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.more.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.more.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.releasy.android.activity.more.UserRecordActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.BleWorkService"
            android:enabled="true" />
        <service
            android:name=".service.MusicService"
            android:enabled="true" />
        <service
            android:name=".service.UpdataAppService"
            android:enabled="true" />


        <!-- <activity
            android:name="com.emokit.sdk.heartrate.FacedetectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.emokit.sdk.senseface.CameraActivity"
            android:screenOrientation="portrait" >
        </activity> 
        <meta-data
            android:name="EMOKIT_AID"
            android:value="100684" />
        <meta-data
            android:name="EMOKIT_KEY"
            android:value="f343d546844ec0cb44868a04819893c6" />
        <meta-data
            android:name="EMOKIT_RecordTaskAnimation"
            android:value="1" /> -->

    </application>


</manifest>
